@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (User.Identity?.IsAuthenticated == true)
{
    <li class="nav-item">
        <span class="nav-link text-dark">
            <i class="fas fa-user"></i> ¡Hola @User.Identity?.Name!
        </span>
    </li>
    <li class="nav-item">
        <form method="post" asp-controller="Home" asp-action="Logout" class="form-inline">
            @Html.AntiForgeryToken()
            <button type="submit" class="nav-link btn btn-link text-dark">
                <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Login">
            <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
        </a>
    </li>
}
</ul>
</ul>